{%- if paginator.total_pages > 1 -%}
<nav aria-label="Blog page naviation">
  <ul class="pagination">
    <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %} inactive">
      <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" tabindex="-1"
        aria-disabled="{{ paginator.previous_page }}">
        « </a>
    </li>
    {%- if paginator.page_trail -%}
    {% for trail in paginator.page_trail -%}
    {% if page.url != trail.path %}
    <li class="page-item inactive"><a class="page-link" href="{{ trail.path | relative_url }}"
        title="{{trail.title}}">{{
        trail.num }}</a></li>
    {% else %}
    <li class="page-item active"><span class="page-link">{{ trail.num }}</span></li>
    {% endif %}
    {% endfor -%}
    {%- endif -%}
    <li class="page-item {% unless paginator.next_page %}disabled{% endunless %} inactive">
      <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">»</a>
    </li>
  </ul>
</nav>
{%- endif -%}