<!-- _includes/projects.html -->
<div>
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    {%- endif %}
    <div class="card card-no-hover">
      {%- if project.img %}
      {%- include figure.html
      path=project.img
      alt="project thumbnail" -%}
      {%- endif %}
      <div class="custom-card-body">
        <h2 class="card-title text-lowercase">{{ project.title }}</h2>
        <p class="card-description">{{ project.description }}</p>
        <p class="card-text">{{ project.content }}</p>
      </div>
    </div>
    {% if project.redirect -%}
  </a>
  {% endif %}
</div>