/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography

@font-face {
  font-family: $font-name;
  src: url('../fonts/#{$font-name}/#{$font-name}-Regular.woff') format('woff'),
       url('../fonts/#{$font-name}/#{$font-name}-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-name;
  src: url('../fonts/#{$font-name}/#{$font-name}-Italic.woff') format('woff'),
       url('../fonts/#{$font-name}/#{$font-name}-Italic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $title-font-name;
  src: url('../fonts/#{$title-font-name}/#{$title-font-name}-Regular.woff') format('woff'),
       url('../fonts/#{$title-font-name}/#{$title-font-name}-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

body {
  font-family: $font-name, sans-serif;
  font-style: 'normal';
  font-weight: 400;
  line-height: 1.6rem;
  max-width: 700px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-name, sans-serif;
}

p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
  color: var(--global-text-color);
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

table {
  td, th {
    color: var(--global-text-color);
  }
  td {
    font-size: 1rem;
  }
}

a, table.table a {
  color: var(--global-theme-color);
  &:hover {
    color: var(--global-theme-color);
    text-decoration: underline;
  }
  &:hover:after :not(.nav-item.dropdown) {
    width: 100%;
  }
}

figure, img {
  max-width: 90vw;
}

blockquote {
  background: var(--global-bg-color);
  border-left: $size-xxs solid var(--global-theme-color);
  margin: $size-xxl $size-xl;
  padding: $size-xxl $size-xl;
  font-size: $font-size;
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption

.caption {
  font-size: $font-size-tiny;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

// Card

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
}

.card {
  background-color: var(--global-bg-color);
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;

  img {
    width: 100%;
  }

  .card-title {
    color: var(--global-text-color);
  }
  .card-description {
    font-size: $font-size-small;
    font-style: italic;
  }

  .card-item {
    width: auto;
    margin-bottom: 0px;

    .row {
      display: flex;
      align-items: center;
    }
  }

  &:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  &:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
}

.card-no-hover {
  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
}

// Citation

.citation, .citation-number {
  color: var(--global-theme-color);
}

// Profile

.header-grid {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  gap: 0px;

  .profile-and-header-name {
    display: grid;
    gap: 16px;
    grid-template-columns: auto 1fr;
    
    .profile {
      width: 3.0rem;
      justify-self: start;
    }
    
    .header-name {
      justify-self: start;
    }
  }

  
  .desc {
    text-align: right;
    line-height: 1.5rem;
    font-family: $title-font-name;
    justify-self: end;
  }
}


@media (min-width: 576px) {
  .profile {
    .address {
      p { display: block; }
    }
  }
}

.post-description {
  margin-bottom: 2rem;
  font-size: $font-size;
  a {
    color: inherit;
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}


// Navbar customization

.navbar {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: var(--global-bg-color);
  opacity: 0.95;
  max-width: 700px;
  margin: auto;
  padding: 0;
  
  .container {
    border-bottom: 1px solid var(--global-divider-color);
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.navbar .dropdown-menu {
  background-color: var(--global-bg-color);
  border: $border-size-light solid var(--global-divider-color);
  a:not(.active) {
    color: var(--global-text-color);
  }
  a:hover {
    color: var(--global-hover-color);
  }
  .dropdown-divider {
    border-top: 1px solid var(--global-divider-color !important);
  }
}
.dropdown-item {
  color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
      background-color: var(--global-bg-color);
    }
}
.navbar.navbar-light {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-brand {
    color: var(--global-text-color);
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      font-weight: bolder;
      color: var(--global-theme-color);
      &:hover {
        color: var(--global-hover-color);
      }
  }
  .navbar-brand.social {
    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

#light-toggle {
  padding: 0;
  border: 0;
  background-color: inherit;
  color: var(--global-text-color);
  &:hover {
    color: var(--global-hover-color);
  }
}

// Social (bottom)

.social {
  text-align: center;
  .contact-icons {
    padding-top: 10px;
    font-size: 1.5rem;
    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
  .contact-note {
    font-size: $font-size-smaller;
  }
}


// Footer
footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: $font-size-tiny;
  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
  }
  a {
    color: var(--global-footer-link-color);
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: $font-size-tiny;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

// CV

.cv {
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: 1fr;
  gap: 10px;
  
  .card {
    border: $border-size-light solid var(--global-divider-color);
    padding-bottom: 0px;
    
    .list-group-item {
      background-color: inherit;

      .badge {
        border-radius: 100px;
        padding: 0.4em 0.6em;
        background-color: transparent !important;
        color: var(--global-text-color) !important;
        border: $border-size solid var(--global-text-color);
        cursor: default; 
      }

      .green-badge {
        color: var(--global-card-bg-color) !important;
        background-color: var(--global-theme-color) !important;
      }
    }
  }
}

// Repositories

@media (min-width: 768px) {
  .repo {
    max-width: 50%;
  }
}

// Blog

.header-bar {
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
  h1 {
    color: var(--global-theme-color);
    font-size: $font-size-huge;
  }
  h2 {
    font-size: $font-size-larger;
  }
}

.tag-list {
  text-align: center;

  ul {
    justify-content: center;
    display: flow-root;

    p, li {
      list-style: none;
      display: inline-block;
      padding: 0.2rem 0.2rem;
      color: var(--global-text-color-light);
    }
  }
}

.badge {
  border-radius: 100px;
  background-color: transparent !important;
  color: var(--global-text-color) !important;
  border: $border-size solid var(--global-text-color);
  height: fit-content;
  font-size: $font-size-small;
}

.badge:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);}


// Distill

.distill {
  a:hover {
    border-bottom-color: var(--global-theme-color);
    text-decoration: none;
  }
}


// Projects

.projects {
  a {
    text-decoration: none;

    &:hover {
      .card-title {
        color: var(--global-theme-color);
      }
    }
  }

  .card {
    img {
      width: 100%;
    }
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }

  .grid-sizer, .grid-item {
    margin-bottom: 10px;
  }

  h2.category {
    color: var(--global-divider-color);
    border-bottom: 1px solid var(--global-divider-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }
}


// Publications

.publications {
  margin-top: 2rem;
  h1 {
    color: var(--global-theme-color);
    font-size: $font-size-larger;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 1rem;
    span {
      font-size: $font-size-large;
    }
  }
  h2.year {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;
      .preview {
        width: 100%;
        min-width: 80px;
        max-width: 200px;
      }
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          padding-left: 1rem;
          padding-right: 1rem;
          a {
            color: white;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .award {
          color: var(--global-theme-color) !important;
          border: $border-size-light solid var(--global-theme-color);
        }
      }
      .title {
        font-size: $font-size-large;
      }
      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
        > span.more-authors {
          color: var(--global-text-color-light);
          border-bottom: 1px dashed var(--global-text-color-light);
          cursor: pointer;
          &:hover {
              color: var(--global-text-color);
              border-bottom: 1px dashed var(--global-text-color);
          }
        }
      }
      .links {
        a.btn {
          color: var(--global-text-color);
          border: $border-size solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.1rem;
          padding-bottom: 0.1rem;
          margin-top: 0.2rem;
          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }
      .hidden {
        font-size: $font-size-smaller;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: $font-size;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }
      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
  }
}

// Rouge Color Customization
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;
  pre, code {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}


// Transitioning Themes
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

// Extra Markdown style (post Customization)
.post{
  .post-meta{
    display: flex;
    color: var(--global-text-color-light);
    font-size: $font-size-small;
    margin-bottom: 0;
    align-items: center;
  }
  .post-content{
    blockquote {
      border-left: 5px solid var(--global-theme-color);
      padding: 8px;
    }
  }
}

// Custom CSS
.custom-grid {
  grid-template-columns: 1fr;
  display: grid;
  gap: 10px;
  grid-auto-flow: dense;
}

.custom-card-body {
  min-width: none;
  width: none;
  flex: 1 1 auto;
  min-height: 1px;
  color: $lavender;
}

.title-font {
  font-family: $title-font-name;
}

.hobby-grid {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: $size-xs;
  align-items: center;
}

.hobby-sub-grid {
  gap: $size-xs;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.hobby-title {
  font-size: $font-size-small;
  padding: $size-xs;
  margin-top: $size-xxs 0;
  color: var(--global-text-color);
}

.hobby {
  display: inline-block;
  padding: 0 $size;
  margin: 0 0;
  font-size: $font-size-smaller;
  text-align: center;
  vertical-align: baseline;
  border: $border-size solid var(--global-text-color);
  border-radius: 100px;
  color: var(--global-text-color);
  transition: all 0.2s ease-in-out;
  cursor: default;
}

.clickable-hobby {
  cursor: pointer;
  color: var(--global-hover-color);

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  } 
}

.hobby-link:hover {
  text-decoration: none;
}

.badge-authorship {
  display: inline-block;
  column-gap: 3px;
  border-radius: 100px;
  padding: 0 $size;
  margin: $size-xxs 0;
  color: var(--global-text-color) !important;
  border: $border-size solid var(--global-text-color);
  font-size: $font-size-smaller;
  cursor: default;
  white-space: nowrap;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }  
}

.badge-circle {
  display: inline-block;
  border: 0px solid black;
  border-radius: 50%;
  width: 0.7em;
  height: 0.7em;
  margin-right: 4px;
}

.footer-text {
  font-size: $font-size;
  margin-bottom: 1.5px;
  margin-right: 4px;
  font-weight: 200;
  color: var(--global-text-color);
  text-align: center; 
  margin: 0 auto;
}

footer {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

@media (max-width: 576px) {
  .custom-grid {
    grid-template-columns: 1fr;
  }
  .hobby-grid {
    grid-template-columns: auto;
    gap: 0px;
  }

  figure {
    max-width: none;
  }
  #navbar {
    padding: 2px 10px;
  }
}

@media (max-width: 650px) {
  .header-grid {
    grid-template-columns: auto;
    .desc {
      text-align: left;
      width: 100%;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

@media (max-width: 800px) {
  .col-md-2 {
    display: block !important;
  }
}

// Overall content container

.container-all {
  margin-top: $size-l;
}

// Paginantion
.pagination {
  justify-content: center !important;

  .page-item {
    background-color: var(--global-bg-color);
    margin-left: 2px;
    margin-right: 2px;

    .page-link {
      color: var(--global-text-color);
      padding: none;
      border: $border-size solid var(--global-text-color);
      border-radius: $font-size;
      background-color: var(--global-bg-color);
      padding: 8px;
      margin: 0px;
      width: calc($font-size * 2);
      text-align: center;
      align-content: center;
      transition: 0.2s ease;

      &:hover {
        color: $black-color;
      }
    }

    &.active .page-link {
      color: $white-color;
      background-color: var(--global-theme-color);

      &:hover {
        background-color: var(--global-theme-color);
        cursor: default;
        color: $white-color;
      }
    }

    &.disabled .page-link {
      color: var(--global-divider-color);
      border: $border-size solid var(--global-divider-color);

      &:hover {
        color: var(--global-text-color-light);
      }
    }

    &.inactive .page-link:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}
